@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,900&display=swap');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-vue/src/index";

html,
body {
  min-height: 100%;
  //min-height: 100%;
  scroll-behavior: smooth;
}
#__nuxt, #__layout {
  min-height: 100%;
}

// themes

#__layout {
    min-height: 100%;
    padding-bottom: 5rem;
    //background-color: #F8F8F8;
}

p {
  color: #464A59;
  font-size: 0.875rem;
  line-height: 1.7;
}
div {
  &.label {
    color: #BABCCC;
  }
}

legend {
  color: #BABCCC;
}

.card {
  border-color: transparent !important;
  &.bg-primary {
    background-color: #3299F4 !important;
    color: white;
  }
  &.bg-success {
    background-color: #71E2B5 !important;
    color: white;
  }
  &.bg-danger {
    background-color: #F87173 !important;
    color: white;
  }
  &.bg-warning {
    background-color: #FDBB69 !important;
    color: white;
  }
  &.bg-info {
    background-color: #AC81F2 !important;
    color: white;
  }
  &.bg-secondary {
    background-color: #EFEFEF !important;
    //color: white;
  }

}


header {
  background-color: $white;
  .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-family: 'Raleway', sans-serif;
  }
  .custom-switch {
    padding-left: 2rem;
    margin-right: -0.75rem;
  }
}
//a {
//  transition: all .35s;
//}
h1,h2,h3,h4,h5,h6 {
  color: #464A59;
  &.subtitle {
    font-weight: 600;
  }
}
// number of cards per line for each breakpoint
$cards-per-line: (
  xs: 2,
  sm: 2,
  md: 2,
  lg: 2,
  xl: 3
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0 calc(#{100%/map-get($cards-per-line, $name)} - #{$grid-gutter-width});
    }
  }
}


//.form-control-xl {
//  height: $input-height-lg;
//  padding: $input-padding-y-lg $input-padding-x-lg;
//  @include font-size($input-font-size-lg);
//  line-height: $input-line-height-lg;
//  @include border-radius($input-border-radius-lg);
//}
//
//.input-group-xl > .form-control:not(textarea),
//.input-group-xl > .custom-select {
//  height: $input-height-xl;
//}
//
//.input-group-xl > .form-control,
//.input-group-xl > .custom-select,
//.input-group-xl > .input-group-prepend > .input-group-text,
//.input-group-xl > .input-group-append > .input-group-text,
//.input-group-xl > .input-group-prepend > .btn,
//.input-group-xl > .input-group-append > .btn {
//  padding: $input-padding-y-xl $input-padding-x-xl;
//  @include font-size($input-font-size-xl);
//  line-height: $input-line-height-xl;
//  @include border-radius($input-border-radius-xl);
//}
//.input-group-xl > .custom-select, {
//  padding-right: $custom-select-padding-x + $custom-select-indicator-padding;
//}


//custom
.spinner-grow {
  vertical-align: baseline;
}
.market {
  .navbar {
    padding: 0 0 1rem 0;
  }
  .card {
    .nft-image {
      cursor: pointer;
      height: 250px;
      &>img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .card-body {
      padding: 0.625rem;
    }
    h5.card-title {
      font-size: $font-size-base * 0.875;
    }
    //.card-header {
    //  position: absolute;
    //  //top: 0.5rem;
    //  background: none;
    //  border: none;
    //}
    &.market-action {
      .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
        border-left: none;
      }
      .input-group-text {
        background: none;
      }

    }
  }

  table.offers-list {
    border-collapse: separate;
    border-spacing:0 0.4375rem;
    th {
      font-weight: normal;
      font-size: 0.875rem;
      color: $text-muted;
      padding-bottom: 0;
    }
    tr {
      //width: 100%;
      td {
        //padding-bottom: 0.5rem;
        background-color: $card-bg;
        background-clip: border-box;
        //border-top: $card-border-width solid $card-border-color;
        //border-bottom: $card-border-width solid $card-border-color;
        &:first-child {
          //border-left: $card-border-width solid $card-border-color;
          border-top-left-radius: $card-border-radius;
          border-bottom-left-radius: $card-border-radius;
        }
        &:last-child {
          //border-right: $card-border-width solid $card-border-color;
          border-top-right-radius: $card-border-radius;
          border-bottom-right-radius: $card-border-radius;
        }
        &.offer-actions {
          width: 6rem;
        }
      }
    }
  }
}

.navbar.tool-bar  {
  padding-top: 0;
  padding-bottom: 0;
  .show > .nav-link, .active > .nav-link, .nav-link.show, .nav-link.active {
    color: $black;
    border-bottom: solid 2px $black;
  }
}

.nav-pills {
  .nav-link {
    color: $navbar-light-color;
  }

  .nav-link.active, .show > .nav-link {
    color: $black;
    background-color: $white;
  }
}

.btn-outline-default {
  color: $input-color;
  border-color: $input-border-color;
}

.form-group.is-invalid {
  .input-group-text {
    border-color: $danger;

  }
}
.form-group.is-valid {
  .input-group-text {
    border-color: $success;
  }
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none;
}
.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none;
}

//special

section.user {
  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    //line-height: 1.625rem;
    &>small {
      font-size: 0.875rem;
      //line-height: 1.625rem;
    }
  }
}

.jumbotron {
  &.banner1 {
    background: linear-gradient(to right, #0038FD, #0038FD 10%, rgba(#0024A8, 0.63) 40%, rgba(#000316, 0) 70%), url(img/3222.png);
    background-size: cover;
    color: white !important;
    //min-height: 180px;
    padding-top: 2rem;
    padding-bottom: 1rem;

    h1 {
      color: white !important;
    }
    p {
      width: 60%;
      color: white !important;
    }
  }
}

.jazzicon {
  display: inline-block;
  //span {
    margin-bottom: -7px;
  margin-right: 0.25rem;
  //}
}

.stat-circle {
  width: 75px;

  circle.bg {
    fill: none;
    stroke: #f1f1f1;
    stroke-width: 0.4;
  }

  circle.progress {
    fill: none;
    stroke: #ff3a42;
    stroke-width: 0.8;
    stroke-dasharray: 51;
    stroke-dashoffset: -51;
    stroke-linecap: round;
  }

  text {
    font-size: 5px;
    text-anchor: middle;
    fill: #bbb;
  }
}


span.value {
  font-size: 1.5625rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* transition */

.page-enter-active, .page-leave-active {
  transition: opacity .1s ease;
}

.page-enter, .page-leave-to {
  opacity: 0
}

.flip-list-move {
  transition: transform 0.5s;
}
.flip-list-enter, .flip-list-leave-to {
  opacity: 0;
  transform: translateX(3rem);
}
